.student{
  background-color: #f2f2f2;
  border: black solid 1px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.student h2{
  margin: 0;
}

.welcome{

  padding: 20px;
  background-color: green;
  color: white;
  border-radius: 10px;

}

.login{

  padding: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
}